<p>Dear <%= name %>
</p>
<p>Thanks for signing up our nice App</p>

<p style="color: aqua;">Here is your account details: </p>
<p>Email: <%= email %>
</p>
<p>Email: <%= loginUrl %>
</p>

Thanks
Nestjs-Blog Support